.chat-main
  .chat-main__group--info
    .main-header__left-box
      %h2.main-header__left-box__current-group 
        = @group.name
      %ul.main-header__left-box__user__list 
        Member:
        - @group.users.each do |user|
          %li.main-header__left-box__user__list--name 
            = user.name
    = link_to edit_group_path(@group) do
      .main-header__edit-btn Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message], method: :post, html: {class: "new_message"} do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
        = f.label :image, class: "input-box__image" do
          = icon("fa", "image")
          = f.file_field :image, class: "input-box__image__file"
      = f.submit :Send, class: "submit-btn"