.side-bar
  .side-bar__user--header
    .side-bar__user__box
      %p.side-bar__user__box--name 
        = current_user.name
      %ul.side-bar__user__box__list
        %li.side-bar__user__box__list--new-group
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.side-bar__user__box__list--edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
      
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %p.group__name
            = group.name
          %p.group__latest__message
            = group.show_lasted_message
     
    